[submodule "xeus-python"]
	path = xeus-python
	url = https://github.com/jupyter-xeus/xeus-python.git
	branch = main
[submodule "jupyter_kernel_test"]
	path = jupyter_kernel_test
	url = https://github.com/jupyter/jupyter_kernel_test
[submodule "ipykernel"]
	path = ipykernel
	url = https://github.com/ipython/ipykernel
[submodule "xeus"]
	path = xeus
	url = https://github.com/jupyter-xeus/xeus
